@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("https://media.gq.com/photos/5582ed9809f0bee564408ae6/master/w_1600%2Cc_limit/food-and-travel-2010-05-beer_628x436.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
</style>


<div class="d-flex justify-content-around">
    <h1 class="" style="color:#df041e; background-color:black; font-weight:900">Welcome to the Brewery Finder!</h1>
</div>

<div class="d-flex justify-content-around">
    <a href="../../Brewery/RandomBrewery" class="btn btn-success">Find Random Brewery</a>
    <a href="../../Brewery/FavoriteBrewery" class="btn btn-success">Favorites</a>
    <a href="../../Brewery/TopRated" class="btn btn-success">Top Rated</a>
    </div>

    <div>

    </div>
