@{
    ViewData["Title"] = "Home Page";
}

    <style>
        body {
            background-image: url("../../Views\Home\Jousting2.png")
        }
    </style>


<div class="text-center">
    <h1 class="display-4">Welcome to the Brewery Finder!</h1>
</div>
