@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("https://i.imgur.com/0k0XxzZ.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    #KangImg{

    }


</style>
    

<div class="d-flex justify-content-around">
    <h1 class="" style="color:#df041e; background-color:black; font-weight:900">Welcome to the Brewery Finder!</h1>
</div>


<div class=" text-center">
    <iframe width="500" height="275" src="https://www.youtube.com/embed/bf9nzopJ8ao?start=8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    @*<div id="KangImg">
        <img class="rounded mx-auto d-block" src="https://i.imgur.com/ZZngeoU.jpg" alt="Kangaroo Beer" />
    </div>*@

