
@{
    ViewData["Title"] = "DisplayBreweriesByState";
}
@model  List<Brewery>

<h1>Breweries in this state:</h1>

<table class="table">
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Website</th>
    </tr>
    @foreach (Brewery brewery in Model)
    {
    <tr>
        <td>@brewery.name</td>
        <td>@brewery.city</td>
        <td><a href="@brewery.website_url">@brewery.website_url</a></td>
    </tr>
    }
</table>
