
@{
    ViewData["Title"] = "Search";
}
@model Brewery

<h1>Search</h1>

<form action="../../Brewery/Search" method="post">
    <input type="text" name="input" value="" />
    <input type="submit"  value="Submit" />
</form>
<br />

<img src="https://i.imgur.com/ozzk9ZG.jpg" style="width:auto; height:350px"   alt="Stone Cold Beer Smash" />