
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">A Few of my Favorite Beer Pictures and Videos</h1>

<span class="d-flex justify-content-around">
    <img src="https://i.imgur.com/hlGbDPd.jpg" style="height:250px; width:auto" alt="Kangaroo beer" />

    <img src="https://i.imgur.com/XDrVZRT.jpg" style="height:250px; width:auto" alt="Pile of beers" />
</span>

<br />
<br />

<span class="d-flex justify-content-around">
    <iframe width="200" height="200" src="https://www.youtube.com/embed/gQEZdOR-OgU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <iframe width="200" height="200" src="https://www.youtube.com/embed/P25SS2v-jWM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
    <iframe width="200" height="200" src="https://www.youtube.com/embed/nMpxb-PsEss?start=8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
</span>

